{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<h1 class=" text-center"> Félicitation vous avez passé votre commande ! Aller voir dans votre <a href="">profil</a> pour voir le statut de votre commande</h1>
{% endblock %}
